p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.post {
  border: 1px solid rgba(000,000,000,0.2);
  padding: 10px;
  max-width: 650px;
}

.post > h2 {
  margin: 0;
  padding: 0;
}

/* Your Code Goes Under This Line */
.full{
  height: 200px;
  width: 200px;
  background: #000;
  border-radius: 50%;
}

.outline{
  height: 200px;
  width: 200px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
}

.post{
  border-radius: 0px 3px 3px 3px;
  border: 1px solid #bbb;
}