body {
  background: #222;
  color: white;

}


img {
  max-width: 100%;
}
/* Code Under This Line */

div {
  margin: 0 auto;
}

.a{
   background-color: yellow;
  height: 230px;
  width: 640px;
}

.b{
  background-color: orange;
  height: 170px;
  width: 600px;
  margin-top: 20px;
}

.c{
  background-color: #222;
  height: 110px;
  width: 560px;
  margin-top: 20px;
}
.d{
  background-color: lightblue;
  height: 60px;
  width: 520px;
  margin-top: 10px;
}